{% extends 'base.html' %}

{% block body %}

<div class="container">

<div class="text-center my-5">
  <img src="/static/2.jpg" class="rounded" alt="...">
</div>

<div class="container-fluid bg-3 text-center  my-4">
  <h3 class="margin">Information</h3>
  <p>
K.C.E.Society College of Engineering & Information Technology is situated in Jalgaon in Maharashtra state of India. The college is accredited by AICTE. K.C.E.Society College of Engineering & Information Technology offers 9 courses across 3 streams namely Engineering, Management, IT. Popular degrees offered at K.C.E.Society College of Engineering & Information Technology include B.Tech, BBA+MBA, M.Tech. Diploma. Besides a robust teaching pedagogy, KCE Society College of Engineering & Information Technology is also a leader in research and innovation. Focus is given to activities beyond academics at KC E Society College of Engineering & Information Technology, which is evident from its infrastructure, extracurricular activities and national & international collaborations...! </p>
  </div>
  <div class="text-center my-2">
<a href="https://portal.termshub.io/8ozy8lnrc5/mobile_eula/" class="btn btn-primary">Privacy Policy Of App</a>
  </div>
  <div class="text-center my-5">
<h3>Creator :<h3>

<style>
  row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 70px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border:1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:50px 25px;
}
.our-webcoderskull .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-broun;
}


.our-webcoderskull{
  background: url("http://www.webcoderskull.com/img/right-sider-banner.png") no-repeat center top / cover;
  
}
.our-webcoderskull .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:30px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
   width:148px; 
   height:140px; 
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
   width:148px; 
   height:150px; 
   border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
	color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
   color:#025a8e;
}

  </style>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2><p style="color:red">Our Team</h2></p>
    </div>
    <ul class="row">
      <div class="card text-center">
      <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="/static/myimg.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="#">Moreshwar Arun Mahale</a></h3>
            <p>Student at Kce Society College Of Engineering And IT Jalgaon </p>
            <ul class="follow-us clearfix">
              <li><a href="https://www.facebook.com/moreshwar.mahale.58"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="https://www.instagram.com/mr_moru_mahale/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="https://www.linkedin.com/in/moreshwar-mahale-34b50321b?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BQD580X8MRZixUGkLgdrLjw%3D%3D"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
   </ul>
  </div>
</div>
</section>
</div>


{% endblock %}