<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>{% block title %} {% endblock title %}Kce_Notes</title>
    
  </head>
  <body>
    <!-- PushAlert Onsite Messaging -->
<script type="text/javascript">
    (function(d, t) {
        var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
        g.src = "https://cdn.inwebr.com/inwebr_3ede8ec0d8d53a4005b1d26a85569830.js";
        s.parentNode.insertBefore(g, s);
    }(document, "script"));
</script>
<!-- End PushAlert Onsite Messaging -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <b><a class="navbar-brand" href="/">Kce_Notes</a></b>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-10">
        <li class="nav-item">
          <a class="btn btn-outline-primary" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="btn btn-outline-primary" href="/about" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Notes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/notes1">FY(B.Teach)</a></li>
            <li><a class="dropdown-item" href="/notes2">SY(B.Teach)</a></li>
            <li><a class="dropdown-item" href="/notes3">TY(B.Teach)</a></li>
            <li><a class="dropdown-item" href="/notes4">Final(B.Teach)</a></li>
            <li><a class="dropdown-item" href="/Examkida">Examkida</a></li>
            <li><hr class="dropdown-divider"></li>
            
          </ul>
            <li class="nav-item dropdown">
          <a class="btn btn-outline-primary" href="/about" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contact
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/about">About</a></li>
            <li><a class="dropdown-item" href="/contact">Contact</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/register">Register</a></li>
            <li><hr class="dropdown-divider"></li>
            </ul>
    
    </div>
  </div>
</nav>
    {% block body %} {% endblock body %}

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<style>
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 10px;
  }
  
  </style>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>Kce_Notes <a href="http://www.coem.kces.in/">Kce_Coem</a></p> 
</footer>

  </body>
</html>