{% extends 'base.html' %}

{% block body %}
 
 <div class="container my-4">
 <h1> <p class="text-center"> Question Paper's </h1></p>
 <h3> <p class="text-center"> For All Branches </h3></p>
 {% for product, range, nSlides in allProds %}
    <h5 class="my-4"> {{product.0.category}} - Question paper's</h5>   {% for i in range %}
      <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}" ></li>
      {% endfor %}
    <table class="table table-dark table-stripped">
            <thead>
                <tr>
                    <th scope="col">Subject</td>
                    <th scope="col">type</td>
                    <th scope="col">Download</td>
                </tr>
            </thead>
             
            <tr>
                    
                    <td>{{product.0.product_title}}</td>
                    <td>{{product.0.content }}</td>
                    <td>
                      <a class="btn btn-warning"
                      type="button" href="{{product.0.excercise}}" >Download</a></td>
                  </tr>
                
    
     {% for i in product|slice:"1:"%}
    <table class="table table-dark table-stripped">
            <thead>
                <tr>
                    <th scope="col">Subject</td>
                    <th scope="col">Type</td>
                    <th scope="col">Download</td>
                </tr>
            </thead>
             
                   <tr>
                    <td>{{i.product_title}}</td>
                    <td>{{i.content }}</td>
                    <td>
                      <a class="btn btn-warning"
                      type="button" href="{{i.product_excercise.url}}" download>Download</a></td>
                  </tr>
       {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
                
            </tbody>
        {% endif %}

        {% endfor %}
       
        </table>
             <h3><p style="color:red"> Download Question-Papers from Redirect Link You Will Gate All Branches Question-Papers with Syllabus For click <p style="color:broun"> Download Button </h3></p>
        
      {% endfor %}
 
 </div>
 
 {% endblock %}