{% extends 'base.html' %}

{% block body %}

<style>

  .bg-2 { 
    background-color: #FFDD33; /* Black Gray */
    color: #273747;
  }
  </style>



<div class="container my-4">

<div class="text-center">
  <img src="/static/1.jpg" class="rounded" alt="...">
</div>

<div class="flex flex-col bg-2 my-4">
  <h4 class="text-3xl text-red-900 text-center mb-4">KCE Society's College Of Engineering and Management, Jalgaon
  </h4>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/7.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/static/6.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="text-center my-4">
<img src="/static/2.jpg" class="img-fluid" alt="...">
</div>

<div class="container-fluid bg-2 text-center  my-4">
  <h3 class="margin">Click To Get</h3>
  <div class="card card-block">
    <h2 class="card-title" style="color:red">FY(B.Tech)</h2>
    <p class="card-text" style="color:blue">For All Branch Notes</p>
    <a href="https://kcenotes.codewithmoru.repl.co/notes1" class="btn btn-primary">Get</a>
</div>
<div class="card card-block">
    <h2 class="card-title" style="color:red">SY(B.Tech)</h2>
    <p class="card-text" style="color:blue">For All Branch Notes</p>
    <a href="https://kcenotes.codewithmoru.repl.co/notes2" class="btn btn-primary">Get</a>
</div>
<div class="card card-block">
    <h2 class="card-title" style="color:red">TY(B.Tech)</h2>
    <p class="card-text" style="color:blue">For All Branch Notes</p>
    <a href="https://kcenotes.codewithmoru.repl.co/notes3" class="btn btn-primary">Get</a>
</div>
<div class="card card-block">
    <h2 class="card-title" style="color:red">Final Year(B.Tech)</h2>
    <p class="card-text" style="color:blue">For All Branch Notes</p>
    <a href="https://kcenotes.codewithmoru.repl.co/notes4" class="btn btn-primary">Get</a>
</div>
  <div class="card card-block">
    <h2 class="card-title" style="color:red">Question-Papers with Syllabus</h2>
    <p class="card-text" style="color:blue">For All Branch Notes</p>
    <a href="https://kcenotes.codewithmoru.repl.co/Examkida" class="btn btn-primary">Get</a>
</div>
</div>

</div>

{% endblock %}